body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #78b159, #3b5323); /* Gradient background resembling trees and grass */
}

h2 {
    text-align: center;
    color: #000000; /* Dark green color for headings resembling trees */
    text-shadow: 0 0 10px #4a7023, 0 0 20px #4a7023, 0 0 30px #4a7023; /* Bubbly effect with dark green color */
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Register_Button{
    margin-left: 90%;
    padding-bottom: 0%;
}

h2 {
    text-align: center;
}

img, video {
    display: block;
    margin: 10px auto;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
}